body,h1 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

#photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
}

#zoomInBtn, #zoomOutBtn, #addPhotoBtn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#zoomInBtn {
  background-color: #4CAF50; /* Green */
  color: white;
}

#zoomOutBtn {
  background-color: #f44336; /* Red */
  color: white;
}

#zoomInBtn:hover, #zoomOutBtn:hover {
  background-color: #555; /* Dark gray */
}